/* 
Color Values
To easily change colors across all uses, change colors here.
To use these colors in specific classes, use "var(--varName)" e.g. var(--noScriptColor)
*/
:root {
    --noScriptColor: #6fffe9;
    --headerColor: #5bc0be;
    --headerBackground: #0b132b;
    --cardColor: #ffffff;
    --cardBackground: #0b132b;
    --cardBorder: #1c2541;
    --subtitleColor: #3a506b;
    --subtitleColor2: #496383;
    --aboutColor: white;
}

/* Error 404 Page */
.error {
    width: 450px;
    background-color: var(--headerBackground);
    padding: 30px 50px;
    margin: 5% auto;
    text-align: center;
    border-radius: 10px;
}

.error-img {
    width: 50%;
}

.error-content h1 {
    font: 700 2em "Courier Prime", sans-serif;
    color: var(--headerColor);
}

.error-content p {
    font: 400 1em "Roboto", sans-serif;
    color: var(--headerColor);
}

@media screen and (max-width: 880px) {
    .error {
        width: 300px;
    }
}

/* Main Website */
html {
    scroll-behavior: smooth;
}

body {
    background-image: url("resources/img/background.png");
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
}

.noscript {
    background-color: var(--noScriptColor);
    color: var(--cardBackground);
    font: 700 1em "Roboto", sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nodata {
    font: 700 1em "Roboto", sans-serif;
    color: white;
}

@keyframes blur {
    100% {
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
    }
}

.noUnderline {
    text-decoration: none;
}

#modal {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: blur 0.5s ease 0s 1 normal forwards;
    overflow: auto;
}

.modal-box {
    margin: 15% auto;
    width: 35%;
    padding: 10px 25px 25px 25px;
    background-color: var(--cardBackground);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 10px;
    border-width: 10px;
    border-color: var(--cardBorder);
}

@media screen and (max-width: 990px) {
    .modal-box {
        margin: 15% auto;
        width: 50%;
        padding: 10px 15px 15px 15px;
        background-color: var(--cardBackground);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        border-radius: 10px;
        border-width: 10px;
        border-color: var(--cardBorder);
    }
}

@media screen and (max-width: 600px) {
    .modal-box {
        margin: 15% auto;
        width: 80%;
        padding: 10px 15px 15px 15px;
        background-color: var(--cardBackground);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        border-radius: 10px;
        border-width: 5px;
        border-color: var(--cardBorder);
    }
}

.modal-header {
    width: 100%;
    display: inline-flex;
}

.modal-close {
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-right: 4px;
    color: var(--headerColor);
}

.modal-close:hover {
    color: var(--cardColor);
    transition: all 0.4s ease;
}

.modal-img {
    width: 100%;
    border-radius: 10px;
}

.modal-title {
    margin-right: auto;
}

.modal-description {
    white-space: pre-line;
}

.modal-dev {
    text-align: center;
    font: 700 1em "Roboto Condensed", sans-serif;
    color: var(--cardBackground);
    background-color: var(--headerColor);
    border-radius: 10px;
    padding: 5px;
}

nav {
    background: var(--headerBackground);
    position: fixed;
    display: block;
    color: var(--cardColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    z-index: 5;
}

nav .navbar-logo {
    padding-left: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav .navbar-logo img {
    width: 50px;
}

nav h1 {
    font-family: "Courier Prime", sans-serif;
    color: var(--headerColor);
    margin-left: 10px;
    font-size: 1.5em;
}

.openMenu i img,
.closeMenu i img {
    width: 50px;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu a {
    padding: 30px 15px;
    font: 300 1.2em "Roboto Condensed", sans-serif;
    color: var(--cardColor);
    text-decoration: none;
    text-transform: uppercase;
    line-height: 2em;
}

nav .mainMenu a:hover {
    background: var(--headerColor);
    color: var(--headerBackground);
    transition: all 0.4s ease;
}

nav .openMenu {
    font-size: 2em;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .closeMenu,
.icons i {
    font-size: 2em;
    display: none;
    cursor: pointer;
}

@media (max-width: 880px) {
    nav .mainMenu {
        height: 300px;
        width: inherit;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 5;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--headerBackground);
        color: var(--cardColor);
        transition: top 1s ease;
        display: none;
        padding: 0;
        margin: 0;
    }

    nav .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu a:hover {
        background: none;
        color: var(--headerColor);
        font-size: 1.4em;
    }
}

#featured,
#home-news,
#home-projects,
#home-gallery,
#home-about,
#home-contact,
#news,
#projects,
#gallery,
#about,
#contact,
#help {
    padding: 5% 5% 0% 5%;
}

#home-contact h2 {
    color: var(--headerBackground);
}

#home-contact .section {
    background-color: var(--headerColor);
    margin: 0% 9%;
    border-radius: 10px;
}

.section {
    margin: 0 2.5% 2.5% 2.5%;
    padding: 10px;
}

.section h2 {
    padding: 20px 0px 10px 0px;
    background-color: inherit;
    z-index: 1;
    top: 0;
    color: var(--headerColor);
    font: 700 3em "Roboto Condensed", sans-serif;
    margin-top: 0;
    line-height: 1em;
    text-align: center;
}

.section-content {
    width: 100%;
}

.section-about p {
    width: 100%;
    font: 400 1em "Roboto", sans-serif;
    line-height: 1.5em;
    text-align: justify;
    color: var(--aboutColor);
}

.section-contact {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    overflow: hidden;
}

.section-contact div {
    width: 30%;
    margin: 20px 0 50px 0;
}

.section-contact img {
    width: 50%;
}

.section-contact img:hover {
    transition: all 0.4s ease;
    transform: scale(1.05);
}

.section-contact p {
    font: 700 1.2em "Roboto", sans-serif;
    color: var(--cardBorder);
}

.question {
    font-size: larger;
    background-color: var(--headerBackground);
    color: var(--aboutColor);
    cursor: pointer;
    padding: 18px;
    border-radius: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
.active {
    color: var(--aboutColor);
    background-color: var(--cardBorder);
}

.question:hover {
    color: var(--headerBackground);
    background-color: var(--headerColor);
}
  
.answer {
    padding: 0 18px;
    color: var(--aboutColor);
    background-color: var(--headerBackground);
    display: none;
    overflow: hidden;
    text-align: justify;
}

@media screen and (max-width: 880px) {
    .section-contact {
        flex-direction: column;
    }

    .section-contact div {
        width: 80%;
        margin: 25px auto;
    }

    .section-contact img {
        width: 50%;
    }

    .section-contact p {
        font-size: 120%;
    }
}

.col-6 {
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}

.col-4 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.col-3 {
    display: grid;
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
}

.col-2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

@media screen and (max-width: 1200px) {
    .section {
        grid-template-columns: 100%;
    }

    .col-6 {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .col-4 {
        grid-template-columns: 33.33% 33.33% 33.33%;
    }

    .col-3 {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 880px) {
    #featured,
    #home-news,
    #home-projects,
    #home-gallery,
    #home-about,
    #news,
    #projects,
    #gallery,
    #about,
    #contact,
    #help {
        padding: 20% 1.5% 0% 1.5%;
    }

    .col-6,
    .col-4,
    .col-3,
    .col-2 {
        grid-template-columns: 100%;
    }
}

.col-0 {
    display: inline-flex;
}

.clickable {
    cursor: pointer;
}

.card {
    margin: 10px;
    padding: 10px 15px 15px 15px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--cardBackground);
}

.card:hover {
    transition: all 0.4s ease;
    transform: scale(1.02);
}

.card-h {
    display: grid;
    grid-template-columns: 30% 80%;
}

.card-v-content {
    margin: 10px;
}

.card-h-content {
    font: 300 1.1em "Roboto", sans-serif;
    line-height: 1.5em;
    color: var(--cardColor);
}

.card-sm-content {
    word-wrap: break-word;
}

.card-h-img,
.card-v-img,
.card-sm-img {
    text-align: center;
}

.card-h-img {
    margin-top: 5px;
    margin-right: 5%;
}

.card-v-img {
    margin: -10px -15px 0px -15px;
    background-color: var(--cardBackground);
    aspect-ratio: 1;
}

.card-h-img > img,
.card-sm-img > img {
    width: 80%;
}

.card-v-img > img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
}

.modal-title,
.card-h-title,
.card-v-title,
.card-sm-title {
    color: var(--headerColor);
    font: 700 1.2em "Roboto", sans-serif;
    margin-bottom: 5px;
    margin-top: 15px;
}

.card-sm-title {
    font: 700 1em "Roboto", sans-serif;
}

.modal-subtitle,
.card-h-subtitle,
.card-v-subtitle {
    font: 500 1em "Roboto Condensed", sans-serif;
    margin-top: 0;
    color: var(--subtitleColor);
}

.modal-subtitle2,
.card-h-subtitle2,
.card-v-subtitle2 {
    font: 400 1em "Roboto", sans-serif;
    margin-top: 0;
    color: var(--subtitleColor2);
}

.modal-description,
.card-h-description,
.card-v-description {
    font: 300 1em "Roboto", sans-serif;
    line-height: 1.5em;
    color: var(--aboutColor);
    text-align: justify;
}

.card-h-description,
.card-v-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.modal-url,
.card a {
    padding: 10px 15px;
    border: 1px solid var(--headerColor);
    border-radius: 50px;
    font: 700 0.85em "Roboto Condensed", sans-serif;
    color: var(--cardBackground);
    background-color: var(--headerColor);
    text-decoration-line: none;
}

.modal-url:hover,
.card a:hover {
    transition: all 0.4s ease;
    color: var(--cardColor);
    background-color: var(--cardBackground);
    border-color: var(--cardColor);
}

#officers,
#officers .card-h-description,
#officers .card-v-description {
    text-align: center;
}

/* About Page */
.about-section {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 10px;
    font: 400 1em "Roboto", sans-serif;
    text-decoration-line: none;
    text-align: center;
    background-color: var(--cardBackground);
}

.about-img {
    max-width: 100%;
    max-height: 300px;
    margin-top: 20px;
}

.about-header {
    color: var(--headerColor);
    font: 700 1.2em "Courier Prime", sans-serif;
    font-size: 54px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.about-p {
    color: var(--aboutColor);
    text-align: justify;
    padding: 15px;
    line-height: 1.5em;
}

@media screen and (max-width: 880px) {
    .about-section {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 10px;
        font: 400 1em "Roboto", sans-serif;
        text-decoration-line: none;
        text-align: center;
        background-color: var(--cardBackground);
    }

    .about-img {
        max-width: 80%;
        max-height: 200px;
        margin-top: 20px;
    }

    .about-header {
        color: var(--headerColor);
        font: 700 1.2em "Courier Prime", sans-serif;
        font-size: 36px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .about-p {
        color: var(--aboutColor);
        text-align: justify;
        padding: 15px;
    }
}

/* #contact p {
    color: var(--aboutColor);
    text-align: justify;
    padding: 5px;
    font-size: 16px;
}

#contact a {
    color: var(--aboutColor);
    text-decoration-line: none;
} */

*,
*:before,
*:after {
    box-sizing: border-box;
}

#news-more,
#gallery-more,
#projects-more,
#about-more,
#contact-more,
#help-more {
    display: block;
    margin: 10px;
    padding: 15px 0;
    border: 1px solid var(--headerColor);
    border-radius: 10px;
    text-align: center;
    font: 700 1.5em "Roboto Condensed", sans-serif;
    color: var(--cardBackground);
    background-color: var(--headerColor);
    text-decoration: none;
}

#news-more:hover,
#gallery-more:hover,
#projects-more:hover,
#about-more:hover,
#contact-more:hover,
#help-more:hover {
    transition: all 0.4s ease;
    color: var(--cardColor);
    background-color: var(--cardBackground);
    border-color: var(--cardColor);
}
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 0px 10px 0px;
    color: var(--cardColor);
    background-color: var(--headerBackground);
}

.footer-logo img {
    max-width: 80px;
}

.footer-title h4 {
    font-family: "Courier Prime", sans-serif;
    color: var(--cardColor);
    background-color: var(--headerBackground);
}

.l-footer {
    line-height: 0em;
    flex: 1 0px;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.socials img {
    margin: 0px 5px 0px 5px;
    max-width: 25px;
}

.socials img:hover {
    filter: invert(50%);
}

.r-footer {
    flex: 3 0px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 80%;
    color: var(--headerColor);
    display: flex;
    flex-flow: row wrap;
    line-height: 2em;
    list-style: none;
    padding-left: 0;
}

.r-footer > * {
    flex: 1;
}

.box a {
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    color: var(--cardColor);
}

.box a:hover {
    color: var(--headerColor);
    transition: all 0.4s ease;
}

.footer-rights {
    font-size: 90%;
    margin-right: 1.25em;
    flex: 5 0px;
}

@media screen and (max-width: 880px) {
    .footer {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .l-footer {
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .box {
        overflow-wrap: normal;
        justify-content: center;
        display: flex;
        flex-flow: row;
    }

    #home-link,
    #news-link,
    #projects-link,
    #gallery-link,
    #about-link,
    #contact-link,
    #help-link {
        padding: 0px 10px 0px 0px;
    }

    .r-footer {
        line-height: 1.5em;
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .socials img {
        padding-bottom: 1em;
    }
}
