/* 
Color Values
To easily change colors across all uses, change colors here.
To use these colors in specific classes, use "var(--varName)" e.g. var(--noScriptColor)
*/
:root {
    --noScriptColor: #0B132B;
    --headerColor: #5BC0BE;
    --headerBackground:#0B132B;
    --cardColor: #3A506B;
    --cardBackground: rgb(216, 229, 247);
    --cardBorder: #6FFFE9;
    --subtitleColor: dimgray;
    --aboutColor: #434244;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0B132B;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.noscript {
    background-color: var(--noScriptColor);
    color: var(--cardBackground);
    font: 600 1em "Montserrat", sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nodata {
    font: 600 1em "Montserrat", sans-serif;
    color: white;
}

@keyframes blur {
    100% {
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
    }
}

#modal {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    animation: blur 0.5s ease 0s 1 normal forwards;

    overflow: auto;
}

.modal-box {
    margin: 15% auto;
    width: 35%;
    padding: 10px 25px 10px 25px;
    background-color: var(--cardBackground);

    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 6px;
    border-width: 10px;
    border-color: var(--cardBorder);
}

@media screen and (max-width: 992px) {
    .modal-box {
        margin: 15% auto;
        width: 50%;
        padding: 10px 15px 10px 15px;
        background-color: var(--cardBackground);
    
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        border-radius: 6px;
        border-width: 10px;
        border-color: var(--cardBorder);
    }
}

@media screen and (max-width: 600px) {
    .modal-box {
        margin: 15% auto;
        width: 80%;
        padding: 10px 15px 10px 15px;
        background-color: var(--cardBackground);
    
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        border-radius: 6px;
        border-width: 5px;
        border-color: var(--cardBorder);
    }
}

.modal-header {
    width: 100%;
    display: inline-flex;
}

.modal-close {
    width: 15px;
    height: 15px;
    margin-left: auto;
}

.modal-img {
    width: 100%;
}

.modal-title {
    margin-right: auto;
}

.modal-description {
    white-space: pre-line;
}

.header-img {
    overflow: auto;
    padding: 10px;
    background-color: var(--headerBackground);
}

.header-img img {
    float: left;
    max-width: 100px;
}

.header-img h1 {
    position: relative;
    top: 10px;
    left: 10px;
    color: var(--cardBackground);
    font-family: "Montserrat", sans-serif;
}

.header-content {
    background-color: var(--headerColor);
    padding: 20px;
    font: 15px "Montserrat", sans-serif;
}

.header-content a {
    margin: 5px;
    padding: 10px;

    font-size: 1em;
    font-weight: 500;
    color: var(--cardColor);

    text-decoration-line: none;
}

.header-content a:hover {
    transition: all 0.4s ease;
    color: var(--cardBackground);
    background-color: var(--cardColor);
}

#featured,
#home-news,
#home-projects,
#home-gallery,
#home-about,
#news,
#projects,
#gallery,
#about {
    padding: 2.5% 5% 0% 5%;
}

.section {
    margin: 0 2.5% 2.5% 2.5%;
    padding: 25px;
}

.section-heading {
    padding: 10px 0px 10px 0px;
    background-color: inherit;
    /* position: sticky;
    position: -webkit-sticky; */
    z-index: 1;
    top: 0;
    color: var(--headerColor);
    font: 700 1.5em "Montserrat", sans-serif;
    font-size: xx-large;
    margin-top: 0;
}

.section-content {
    width: 100%;
}

.col-6 {
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}

.col-4 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.col-3 {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.col-2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

@media screen and (max-width: 900px) {
    .section {
        grid-template-columns: 100%;
    }

    .col-6 {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .col-4 {
        grid-template-columns: 33.33% 33.33% 33.33%;
    }

    .col-3 {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 800px) {
    #news,
    #projects,
    #about {
        padding: 1% 1.5% 0% 1.5%;
    }

    .col-6,
    .col-4 {
        grid-template-columns: 50% 50%;
    }

    .col-3,
    .col-2 {
        grid-template-columns: 100%;
    }
}

.col-0 {
    display: inline-flex;
}

.clickable {
    cursor: pointer;
}

.card {
    margin: 10px;
    padding: 10px 15px 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 3px;
    border-radius: 6px;
    overflow: hidden;
    background-color: var(--cardBackground);
}

.card:hover {
    transition: all 0.4s ease;
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.card-h {
    display: grid;
    grid-template-columns: 30% 70%;
}

.card-v-content {
    margin: 10px;
}

.card-sm-content {
    word-wrap: break-word;
}

.card-h-img,
.card-v-img,
.card-sm-img {
    text-align: center;
}

.card-h-img {
    margin-top: 5px;
    margin-right: 5%;
}

.card-v-img {
    margin: -10px -15px 0px -15px;
    background-color: var(--cardColor);
}

.card-h-img > img,
.card-sm-img > img {
    width: 80%;
}

.card-v-img > img {
    width: 100%;
}

.modal-title,
.card-h-title,
.card-v-title,
.card-sm-title {
    color: var(--cardColor);
    font: 600 1.2em "Montserrat", sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
}

.card-sm-title {
    font: 600 1em "Montserrat", sans-serif;
}

.modal-subtitle,
.card-h-subtitle,
.card-v-subtitle {
    font: 600 1em "Source Sans Pro", sans-serif;
    margin-top: 0;
    color: var(--subtitleColor);
}

.modal-description,
.card-h-description,
.card-v-description {
    font: 400 1em "Source Sans Pro", sans-serif;
    color: var(--aboutColor);
}

.card-h-description,
.card-v-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.modal-close,
.modal-url {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid var(--cardColor);
    border-radius: 6px;

    font: 600 1em "Source Sans Pro", sans-serif;
    color: var(--cardBackground);
    background-color: var(--cardColor);
    text-decoration-line: none;
}

.card a {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid var(--cardBackground);
    border-radius: 6px;

    font: 600 1em "Source Sans Pro", sans-serif;
    color: var(--cardBackground);
    background-color: var(--cardColor);
    text-decoration-line: none;
}

.modal-close:hover,
.modal-url:hover {
    transition: all 0.4s ease;
    color: var(--cardColor);
    background-color: var(--cardBackground);
    border-color: var(--cardColor);
}

.card a:hover {
    transition: all 0.4s ease;
    color: var(--cardColor);
    background-color: var(--cardBackground);
    border-color: var(--cardColor);
}

#about p {
    font: 400 1em "Source Sans Pro", sans-serif;
    color: var(--aboutColor);
    text-align: justify;
}

#about a {
    color: var(--aboutColor);
    text-decoration-line: none;
}

.footer-content{
    font: 400 1em "Source Sans Pro", sans-serif;
    color: var(--cardColor);
    text-align: center;
}

.footer content,
.footer-links a{
    display:inline-block;
	line-height: 1.8;
    color: var(--cardColor);
}

.footer content,
.footer-links a:hover{
    display:inline-block;
	line-height: 1.8;
    color: var(--cardBackground);
}